
html{
    margin: 0;
    padding: 0;
    background: #efefef;
    color: #fff;
}

#upbar {
    position  : absolute;
    width     : 176.75%;
    height    : 31px;
    left      : 0px;
    top       : 0px;
    background: #282828;
    z-index: 3;
}

body {
    position  : relative;
    width     : 1440px;
    height    : 1024px;
    padding: 0%;
    background: #363636;
}
.limpiar{
    clear: both;
}
header, nav, aside, section, article, footer{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Tahoma';
}
header{
    background: #B7B9B8;
}


section{
    float: right;
    width: 70%;
    height: 200px;
    background: #96BC6C;
}

article{
    margin: 10px auto;
    background: #0072BC;
    width: 90%;
}
footer{
    background: #F36623;
}

.dropdown {
    position: relative;
    margin  : auto;
    display : inline-block;
    top     : 20%;
    left    : 0.5%;
}

.dropdown-content {
    display         : none;
    position        : absolute;
    background-color: #3D3D3D;
    min-width       : 180px;
    min-height      : 180px;
    top             : 30px;
    z-index         : 1;
    left            : 1px;
    color           : #ffffff;
}

ul,
ol {
    list-style: none;
    color     : #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

span {
    color      : #fff;
    font-family: Roboto;
    font-size  : 14px;
}

#nav {
    top: 50px;
}
#idtex {
    position   : absolute;
    width      : 53px;
    height     : 31px;
    left       : 96vh;
    top        : 0px;
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 14px;
    display    : flex;
    align-items: center;
    text-align : center;
    color      : #FFFFFF;
}
#explorer {
    position  : absolute;
    width     : 25%;
    height    : 122%;
    left      : 0px;
    top       : 30px;
    background: #323232;
    z-index: 1;
}
#toolbar {
    position  : absolute;
    width     : 2190px;
    height    : 34px;
    left      : 371px;
    top       : 31px;
    background: #363636;
    z-index: 3;
}
